

{% extends 'main.html' %}

{% block content1 %}

<!-- <p>You are on the {{page}} page</p> -->
<h1>Projects</h1>
<table>
    <tr>
        <th>ID</th>
        <th>projects</th>
        <th>Votes</th>
        <th>Ratio</th>
        <th></th>
    </tr>
    {% for project in projects%}
    <tr>
        <td>{{project.id}}</td>
        <td>{{project.title}}</td>
        <td>{{project.vote_total}}</td>
        <td>{{project.vote_ratio}}%</td>
        <td>{{project.created}}</td>
        <td><a href="/project/{{project.id}}">View</a></td>
    </tr>

    {% endfor %}

</table>
<ul>
    {% for project in projects%}
    <li>Title: <a href="/project/{{project.id}}">{{project.title}}</a>------ {{project.description}}</li>
  

    {% endfor %}

</ul>

<!-- {% if age > 10 %}
<p>Your age is greater than 10</p>

{% elif age == 10 %}
<p>You are exacty 10 years old.</p>

{% else %}
<p>Your age is less than 10</p>

{% endif %} -->



<!-- <h3>This is my first webpage.</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem sit commodi veritatis aliquid deleniti at, ipsa officia, non, eveniet esse assumenda corrupti! Aspernatur illum error eius voluptatum doloremque amet reprehenderit!</p> -->

{% endblock content1 %}